<!DOCTYPE html>
<html>
    <head>
        <meta name=viewport content ="width=device-width, initial-scale=1">
        <title>Portfolio</title>
        <script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
  crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div  class = "ui large stackable fixed inverted menu">
            <div class = " ui container">
                <div class = "header item">
                    <i class = "lightbulb outline icon"></i> Designs by Trevor
                </div>
                <a href="/" class = "item">Home</a>
                <div class = "right menu">
                        <a href="/" class = "item">Resume</a>
                </div>
            </div>
        </div>
            

