<div style = "visibility: hidden;"id = "lastUrl"><%=lastUrl%></div>

<script>
    var lastUrl = document.getElementById("lastUrl").getAttribute("value");
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
        window.location.href = lastUrl + "/m";
        } else {
        window.location.href = lastUrl+ "/d";   
        }
</script>