<%- include ("partials/head") %>
<div class = "ui main container">

<% if (mobile == true){ %>
   <h1>Mobile Test Route </h1>
<% } %>

    <div class = "ui stackable three column grid">
        <div class = "row"></div>
    <% for(var i = 0; i < 3; i++){ %>
        <div class = "column">
            <div class = "ui card">
                <div class = "image">
                    <img src="<%= data.index[i].pic %>">
                </div>
                
            </div>
                
        </div> 
    <% }; %>
    </div>
</div>
<%- include ("partials/foot") %>
<!-- Object.keys(data.index).length -->


